<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><%= __("global.home") %></a></li>
        <li class="breadcrumb-item"><%= __("slot.menu") %></li>
    </ol>
</nav>
<p class="text-right mb-3">
    <a class="btn btn-primary" href="/company/slot/add"><%= __('global.add') %></a>
</p>
<br>
<%
for(var categoryId in slots) {
    var categorySlots = slots[categoryId];
%>
    <h4 class="mb-3"><%= categoryId !== 'default' ? categories[categoryId].name : __("slot.defaultcategory") %></h4>
    <table class="table mb-4">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><%= __('slot.name') %></th>
                <th scope="col"><%= __('slot.begin') %></th>
                <th scope="col"><%= __('slot.end') %></th>
                <th scope="col"><%= __('slot.duration') %></th>
                <th scope="col"><%= __('slot.days') %></th>
                <th scope="col"><%= __n('global.action', 2) %></th>
            </tr>
        </thead>
        <tbody>
<%
            for(var i in categorySlots) {
                var slot = categorySlots[i];
%>
                <tr>
                    <td><%= slot.name %></td>
                    <td><%= slot.begin ? slot.begin.replace(/:\d+$/, '') : '-' %></td>
                    <td><%= slot.end ? slot.end.replace(/:\d+$/, '') : '-' %></td>
                    <td><%= slot.getDuration() %> <%= __("time.hourabbr") %></td>
                    <td>
<%
                        for(var day of slot.days) {
%>
                            <%= __("time.day" + day) %>
                            <% } %>
                        </td>
                        <td>
                            <a href="/company/slot/<%= slot.id %>/update" title="<%= __('global.edit') %>"><i class="fas fa-pencil-alt"></i></a>&nbsp;
                            <a href="/company/slot/<%= slot.id %>/delete" title="<%= __('global.delete') %>"><i class="fas fa-trash-alt"></i></a>&nbsp;
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>

            <%- include ../footer.ejs %>
