<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
        <li class="breadcrumb-item"><a href="/company/slot"><%= __('slot.menu') %></a></li>
        <li class="breadcrumb-item active"><%= __('slot.edition') %></li>
    </ol>
</nav>
<form action="/company/slot/<%= slot.id %>/update" method="post">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th class="label"><%= __('slot.name') %></th>
                <td><input type="text" name="name" class="form-control" value="<%= slot.name %>" id="name" placeholder="<%= __('slot.name') %>"></td>
            </tr>
            <tr>
                <th class="label"><%= __('slot.begin') %></th>
                <td><input type="time" name="begin" class="form-control" value="<%= slot.begin %>" id="begin" placeholder="<%= __('slot.begin') %>"></td>
            </tr>
            <tr>
                <th class="label"><%= __('slot.end') %></th>
                <td><input type="time" name="end" class="form-control" value="<%= slot.end %>" id="end" placeholder="<%= __('slot.end') %>"></td>
            </tr>
            <tr>
                <th class="label"><%= __('slot.days') %></th>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" id="monday" class="btn day"><%= __('time.day1') %></button>
                        <button type="button" id="tuesday" class="btn day"><%= __('time.day2') %></button>
                        <button type="button" id="wednesday" class="btn day"><%= __('time.day3') %></button>
                        <button type="button" id="thursday" class="btn day"><%= __('time.day4') %></button>
                        <button type="button" id="friday" class="btn day"><%= __('time.day5') %></button>
                        <button type="button" id="saturday" class="btn day"><%= __('time.day6') %></button>
                        <button type="button" id="sunday" class="btn day"><%= __('time.day0') %></button>
                    </div>

                    <span class="d-none">
                        <input type="checkbox" id="input-monday" value="1" name="days[]" class="form-check-input" <%= slot.days.includes(1) ? "checked" : "" %>>
                        <input type="checkbox" id="input-tuesday" value="2" name="days[]" class="form-check-input" <%= slot.days.includes(2) ? "checked" : "" %>>
                        <input type="checkbox" id="input-wednesday" value="3" name="days[]" class="form-check-input" <%= slot.days.includes(3) ? "checked" : "" %>>
                        <input type="checkbox" id="input-thursday" value="4" name="days[]" class="form-check-input" <%= slot.days.includes(4) ? "checked" : "" %>>
                        <input type="checkbox" id="input-friday" value="5" name="days[]" class="form-check-input" <%= slot.days.includes(5) ? "checked" : "" %>>
                        <input type="checkbox" id="input-saturday" value="6" name="days[]" class="form-check-input" <%= slot.days.includes(6) ? "checked" : "" %>>
                        <input type="checkbox" id="input-sunday" value="0" name="days[]" class="form-check-input" <%= slot.days.includes(0) ? "checked" : "" %>>
                    </span>
                </td>
            </tr>
            <tr>
                <th class="label"><%= __('slot.category') %></th>
                <td>
                    <select class="custom-select" name="category" id="category">
<%
                        for(var i in categories) {
                            var category = categories[i];
%>
                            <option value="<%= category.id %>" <%= slot.categoryId == category.id ? "selected" : "" %>><%= category.name %></option>
                            <% } %>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button type="submit" class="btn btn-primary text-right"><%= __('global.save') %></button>
        </div>
    </form>

    <script>
    $(document).ready(function() {
        $("button.day").each(function() {
            var day = $(this).attr('id');
            var checked = $("#input-" + day).prop("checked");

            if(checked) {
                $(this).addClass("btn-success");
            } else {
                $(this).addClass("btn-danger");
            }
        });

        $("button.day").click(function() {
            var day = $(this).attr('id');
            var checked = $("#input-" + day).prop("checked");
            if(checked) {
                $(this).removeClass("btn-success");
                $(this).addClass("btn-danger");
                $("#input-" + day).prop("checked", false);
            } else {
                $(this).removeClass("btn-danger");
                $(this).addClass("btn-success");
                $("#input-" + day).prop("checked", true);
            }
        });
    });
    </script>

    <%- include ../footer.ejs %>
