<li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
<li class="breadcrumb-item"><a href="/planning"><%= __('planning.menu') %></a></li>
<li class="breadcrumb-item"><a href="/planning/category/<%= planning.category.id %>"><%= planning.category.name %></a></li>
<% if(planning.interval == "month") { %>
    <li class="breadcrumb-item">
        <a href="/planning/category/<%= planning.category.id %>/global/<%= planning.firstDate.getTime() %>">
            <%= planning.firstDate.getFullYear() %>
        </a>
    </li>
    <li class="breadcrumb-item"><%= __("time.month" + (planning.firstDate.getMonth() + 1)) %></li>
<% } else if(planning.interval == "week") { %>
    <li class="breadcrumb-item"><%= planning.firstDate.getFullYear() %></li>
    <li class="breadcrumb-item">
        <a href="/planning/category/<%= planning.category.id %>/global/<%= planning.firstDate.getTime() %>">
            <%= __('time.month' + (planning.firstDate.getMonth() + 1)) %>
        </a>
    </li>
    <li class="breadcrumb-item"><%= __('time.week') + ' ' + planning.firstDate.getWeek() %></li>
<% } else if(planning.interval == "day") { %>
    <li class="breadcrumb-item"><%= planning.firstDate.getFullYear() %></li>
    <li class="breadcrumb-item">
        <a href="/planning/category/<%= planning.category.id %>/global/<%= planning.firstDate.getTime() %>">
            <%= __('time.month' + (planning.firstDate.getMonth() + 1)) %>
        </a>
    </li>
    <% var day = planning.firstDate.getDay() %>
    <li class="breadcrumb-item"><%= __('time.day' + (day ? day : 7)) + ' ' + planning.firstDate.getDate() %></li>
<% } %>