<%- include ../header.ejs %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= __("global.home") %></a></li>
    <li class="breadcrumb-item"><a href="/planning"><%= __("planning.menu") %></a></li>
    <li class="breadcrumb-item"><a href="/planning/category/<%= planning.category.id %>"><%= planning.category.name %></a></li>
    <li class="breadcrumb-item"><a href="/planning/category/<%= planning.category.id %>/<%= planning.firstDate.getFullYear() %>"><%= planning.firstDate.getFullYear() %></a></li>
    <li class="breadcrumb-item"><%= __("time.month" + (planning.firstDate.getMonth() + 1)) %></li>
    <li class="breadcrumb-item active"><%= __("planning.calendar") %></li>
  </ol>
</nav>

<p class="text-right mt-5 mb-3">
    <a class="btn btn-primary" href="/planning/<%= planning.id %>/unvalidate">
        <%= __('planning.unvalidate') %>
    </a>
    <a class="btn btn-primary ml-3" href="/planning/<%= planning.id %>">
        <%= __('planning.classicalview') %>
    </a>
</p>

<%
function getRealDay(day) {
    return day != 0 ? day : 7;
}

Date.prototype.getWeek = function() {
    var date = new Date(this.getTime());
    date.setHours(0, 0, 0, 0);
    date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
    var week1 = new Date(date.getFullYear(), 0, 4);
    return 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);
}

var month = planning.firstDate.getMonth();
var firstDate = new Date(Date.UTC(2018, month, 2 - getRealDay(new Date(2018, month, 1).getDay())));
var lastDate = new Date(Date.UTC(2018, month + 1, 0));
%>

<table class="table table-bordered border-0">
<%
    var currentDate = new Date(firstDate);
    while(currentDate.getMonth() <= month) {
        var closed = false;
%>
        <tr>
        <th class="week-number align-middle border-top-0 border-left-0 border-bottom-0"><span class="badge badge-secondary"><%= currentDate.getWeek() %></span></th>
<%
            for(var i=1; i<=7; i++) {
                var open = typeof planning.presences[currentDate.getTime()] !== 'undefined';                
%>
                <td class="calendar-day py-1 px-1 <%= currentDate.getMonth() != month ? " table-active " : " " %> col <%= currentDate.getMonth() == month ? "font-weight-bold " : " " %>">
                    <p>
                        <%= currentDate.getDate(); %>
                    </p>
<%
                    if(open) {
                        closed = false;
        
                        for(var slotId in planning.presences[currentDate.getTime()]) {
                            var presences = planning.presences[currentDate.getTime()][slotId];
%>
                            <button type="button" data-toggle="popover" data-trigger="focus" title="Employés" data-content="<% for(var j in presences) {%><%= (j>0 ? " <br>" : "") + presences[j].Employee.firstName + " " + presences[j].Employee.lastName %><% } %>"
                                class="align-text-top py-0 btn btn-success btn-block my-1">
                                <small>
                                    <%= presences[0].slot.name + " (" + presences.length + ")"%>
                                </small>
                            </button>
<%
                        }
                    } else if(currentDate.getMonth() == month) {
                        if(!closed) {
                            var d = new Date(currentDate), size = 1;

                            while(true) {
                                d.setDate(d.getDate() + 1);
                                
                                if(d.getDay() != 1 && typeof planning.presences[d.getTime()] === 'undefined' && d.getMonth() == month) {
                                    size++;
                                } else {
                                    break;
                                }
                            }
                            
                            closed = true;
%>
                            <button class="position-absolute day-<%= size %> my-0 align-text-top py-0 btn btn-danger" disabled><small><%= __("time.closed") %></small></button>
<%
                        }
                    }
%>
                </td>
<%
                currentDate.setDate(currentDate.getDate() + 1);
            }
%>
        </tr>
<%
    }
%>
</table>

<script>
    $(document).ready(function() {
        $(function() {
            $('[data-toggle="popover"]').popover({
                html: true
            });
        });
    });

</script>

<%- include ../footer.ejs %>
