<%- include ../header.ejs %>

<h2><%= __("planning.validated") %></h2>
<br>
<p class="text-right">
    <a class="btn btn-primary" href="/planning/<%= planning.id %>/unvalidate">
        <%= __('planning.unvalidate') %>
    </a>
    <a class="btn btn-primary ml-3" href="/planning/<%= planning.id %>">
        <%= __('planning.classicalview') %>
    </a>
</p>
<br>

<%
function getRealDay(day) {
    return day != 0 ? day : 7;
}

function getWeekNumber(d) {
    // Copy date so don't modify original
    d = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));
    // Set to nearest Thursday: current date + 4 - current day number
    // Make Sunday's day number 7
    d.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay()||7));
    // Get first day of year
    var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
    // Calculate full weeks to nearest Thursday
    var weekNo = Math.ceil(( ( (d - yearStart) / 86400000) + 1)/7);
    // Return array of year and week number
    return weekNo;
}

var month = planning.firstDate.getMonth();
var firstDate = new Date(Date.UTC(2018, month, 2 - getRealDay(new Date(2018, month, 1).getDay())));
var lastDate = new Date(Date.UTC(2018, month + 1, 0));
%>

<table class="table table-bordered">
<%
    var currentDate = new Date(firstDate);
    while(currentDate.getMonth() <= month) {
        var closed = false;
%>
        <tr>
<%
            for(var i=1; i<=7; i++) {
                var open = typeof planning.presences[currentDate.getTime()] !== 'undefined';                
%>
                <td class="calendar-day py-1 px-1 <%= currentDate.getMonth() != month ? " table-active " : " " %> col <%= currentDate.getMonth() == month ? "font-weight-bold " : " " %>">
                    <p>
                        <%= currentDate.getDate(); %>
                    </p>
<%
                    if(open) {
                        closed = false;
        
                        for(var slotId in planning.presences[currentDate.getTime()]) {
                            var presences = planning.presences[currentDate.getTime()][slotId];
%>
                            <button type="button" data-toggle="popover" data-trigger="focus" title="Employés" data-content="<% for(var j in presences) {%><%= (j>0 ? " <br>" : "") + presences[j].Employee.firstName + " " + presences[j].Employee.lastName %><% } %>"
                                class="align-text-top py-0 btn btn-success btn-block my-1">
                                <small>
                                    <%= presences[0].slot.name + " (" + presences.length + ")"%>
                                </small>
                            </button>
<%
                        }
                    } else if(currentDate.getMonth() == month) {
                        if(!closed) {
                            var d = new Date(currentDate), size = 1;

                            while(true) {
                                d.setDate(d.getDate() + 1);
                                
                                if(d.getDay() != 1 && typeof planning.presences[d.getTime()] === 'undefined' && d.getMonth() == month) {
                                    size++;
                                } else {
                                    break;
                                }
                            }
                            
                            closed = true;
%>
                            <button class="position-absolute day-<%= size %> my-0 align-text-top py-0 btn btn-danger" disabled><small><%= __("time.closed") %></small></button>
<%
                        }
                    }
%>
                </td>
<%
                currentDate.setDate(currentDate.getDate() + 1);
            }
%>
        </tr>
<%
    }
%>
</table>

<script>
    $(document).ready(function() {
        $(function() {
            $('[data-toggle="popover"]').popover({
                html: true
            });
        });
    });

</script>

<%- include ../footer.ejs %>
