<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <%- include base-planning-breadcrumb.ejs %>
    <li class="breadcrumb-item active"><%= __('planning.creation') %></li>
  </ol>
</nav>

<p class="text-right mb-3 d-print-none">
    <a class="btn btn-primary" href="/planning/<%= planning.id %>/validate">
        <%= __('planning.validate') %>
    </a>
</p>

<%- include base-planning.ejs %>

<%- include ../footer.ejs %>