<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
    <li class="breadcrumb-item"><a href="/planning"><%= __('planning.menu') %></a></li>
    <li class="breadcrumb-item active"><%= __('planning.currents') %></li>
  </ol>
</nav>

<% if(plannings.length > 0) { %>
    <% for(var planning of plannings) { %>
        <h4 class="text-center">
            <a href="/planning/<%= planning.id %>">
                <%= planning.category.name %>        
            </a>
        </h4>
    <% } %>
<% } else { %>
    <h4 class="text-center"><%= __('planning.nocurrents') %></h4>
<% } %>

<%- include ../footer.ejs %>
