<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <%- include base-planning-breadcrumb.ejs %>
    <li class="breadcrumb-item active"><%= __('planning.failure') %></li>
  </ol>
</nav>

<% if(!planning.modified) { %>
    <div class="alert alert-warning" role="alert">
        <%= __('planning.failuremessage1') %><br>
        <%= __('planning.failuremessage2') %><br>
    </div>
<% } %>

<p class="text-right mb-3">
    <a class="btn btn-primary" href="/planning/<%= planning.id %>/validate">
        <%= __('planning.validate') %>
    </a>
    <a class="btn btn-primary ml-3" href="/planning/<%= planning.id %>/regenerate">
        <%= __('planning.generate') %>
    </a>
</p>

<%- include base-planning.ejs %>
    
<%- include ../footer.ejs %>