<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
    <li class="breadcrumb-item"><a href="/planning"><%= __('planning.menu') %></a></li>
    <li class="breadcrumb-item"><a href="/planning/category/<%= category.id %>"><%= category.name %></a></li>
    <li class="breadcrumb-item"><%= year %></li>
    <li class="breadcrumb-item active"><%= __('time.month' + (month + 1)) %></li>
  </ol>
</nav>

<p class="text-right mb-3">
    <a class="btn btn-primary" href="/planning/generate/category/<%= category.id %>"><%= __('planning.generate') %></a>
    <a class="btn btn-primary ml-1" href="/planning/create/category/<%= category.id %>"><%= __('planning.create') %></a>
</p>

<div class="row align-items-center">
    <div class="col-md-1">
        <% var previousDate = new Date(Date.UTC(year, month-1, 1)) %>
        <a href="/planning/category/<%= category ? category.id : 0 %>/<%= previousDate.getTime() %>">
            <i class="fas fa-angle-left fa-2x"></i>
        </a>
    </div>
    <div class="col-md-10">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><%= __('time.day') %></th>
                    <th scope="col"><%= __n('global.action', 2) %></th>
                </tr>
            </thead>
            <tbody>
<%
            var now = new Date();
            now.setHours(0, 0, 0, 0);            
            var lastDay = (new Date(year, month + 1, 0)).getDate();

            for(var i=1; i<=lastDay; i++) {
                var date = new Date(year, month, i);
%>
                    <tr>
                        <td>
                            <% if(now.getTime() == date.getTime()) { %>
                                <b>
                            <% } %>
                            <%= i.toString().padStart(2, '0') + '/' + (date.getMonth() + 1).toString().padStart(2, '0') + '/' + date.getFullYear() %>
                            <% if(now.getTime() == date.getTime()) { %>
                                </b>
                            <% } %>
                        </td>
                        <td>
                            <% if(date.getTime() >= now.getTime()) { %>
                                <a href="/planning/generate/category/<%= category.id %>/day-<%= i.toString().padStart(2, '0') + (month + 1).toString().padStart(2, '0') + year %>" title="<%= __('planning.generate') %>">
                                    <i class="fas fa-retweet"></i>
                                </a>
                                <a class="ml-3" href="/planning/create/category/<%= category.id %>/day-<%= i.toString().padStart(2, '0') + (month + 1).toString().padStart(2, '0') + year %>" title="<%= __('planning.create') %>">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                            <% } %>
                            <% if(typeof plannings[i] !== "undefined") { %>
                                <a class="ml-3" href="/planning/category/<%= category.id %>/<%= i.toString().padStart(2, '0') + year %>" title="<%= __('planning.list') %>">
                                    <i class="fas fa-list-ol"></i>
                                </a>
                                <% if(plannings[i][0].validated) { %>
                                    <a class="ml-3" href="/planning/<%= plannings[i][0].id %>" title="<%= __('planning.validated') %>">
                                        <i class="fas fa-calendar-check"></i>
                                    </a>
                                <% } %>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-md-1">
        <% var nextDate = new Date(Date.UTC(year, month+1, 1)) %>
        <a href="/planning/category/<%= category ? category.id : 0 %>/<%= nextDate.getTime() %>">
            <i class="fas fa-angle-right fa-2x"></i>
        </a>
    </div>
</div>

<%- include ../footer.ejs %>
