<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
    <li class="breadcrumb-item"><a href="/planning"><%= __('planning.menu') %></a></li>
    <li class="breadcrumb-item"><a href="/planning/category/<%= category.id %>"><%= category.name %></a></li>
    <li class="breadcrumb-item"><%= year %></li>
    <li class="breadcrumb-item active"><%= __('time.month' + (month + 1)) %></li>
  </ol>
</nav>

<p class="text-right mb-3">
    <a class="btn btn-primary" href="/planning/generate/category/<%= category.id %>"><%= __('planning.generate') %></a>
    <a class="btn btn-primary ml-1" href="/planning/create/category/<%= category.id %>"><%= __('planning.create') %></a>
</p>

<div class="row align-items-center">
    <div class="col-md-1">
        <% var previousDate = new Date(Date.UTC(year, month-1, 1)) %>
        <a href="/planning/category/<%= category.id %>/<%= previousDate.getTime() %>"><i class="fas fa-angle-left fa-2x"></i></a>
    </div>
    <div class="col-md-10">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><%= __('time.week') %></th>
                    <th scope="col"><%= __n('global.action', 2) %></th>
                </tr>
            </thead>
            <tbody>
<%
            Date.prototype.getWeek = function() {
                var date = new Date(this.getTime());
                date.setHours(0, 0, 0, 0);
                date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
                var week1 = new Date(date.getFullYear(), 0, 4);
                return 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);
            }

            function getFirstDateWeek(week, year) {
                var simple = new Date(year, 0, 1 + (week - 1) * 7);
                var dow = simple.getDay();
                var weekStart = simple;

                if (dow <= 4) {
                    weekStart.setDate(simple.getDate() - simple.getDay() + 1);
                } else {
                    weekStart.setDate(simple.getDate() + 8 - simple.getDay());
                }

                return new Date(Date.UTC(weekStart.getFullYear(), weekStart.getMonth(), weekStart.getDate()));
            }

            function getLastDateWeek(week, year) {
                var lastDateWeek = getFirstDateWeek(week, year);
                lastDateWeek.setDate(lastDateWeek.getDate() + 6);

                return lastDateWeek;
            }

            var now = new Date();

            var firstDateWeek = new Date(Date.UTC(year, month, 1));
            var firstWeek = firstDateWeek.getWeek();
            var lastDateWeek = new Date(Date.UTC(year, month + 1, 0));
            var lastWeek = lastDateWeek.getWeek();
            
            for(var i=firstWeek; i<=lastWeek; i++) {
                var minDate = getFirstDateWeek(i, 2018);
                var maxDate = getLastDateWeek(i, 2018);
%>
                    <tr>
                        <td>
                            <% if(now.getTime() >= minDate.getTime() && now.getTime() < maxDate.getTime()) { %>
                                <b>
                            <% } %>
                                <%= __('time.week') %> <%= i %> <small>(<%= minDate.getDate().toString().padStart(2, '0') + '/' + minDate.getMonth().toString().padStart(2, '0') + '/' + minDate.getFullYear() %> - <%= maxDate.getDate().toString().padStart(2, '0') + '/' + maxDate.getMonth().toString().padStart(2, '0') + '/' + maxDate.getFullYear() %>)</small>
                            <% if(now.getTime() >= firstDateWeek.getTime() && now.getTime() < lastDateWeek.getTime()) { %>
                                </b>
                            <% } %>
                        </td>
                        <td>
                            <% if(maxDate.getTime() >= now.getTime()) { %>
                                <a href="/planning/generate/category/<%= category.id %>/week-<%= i.toString().padStart(2, '0') + year %>" title="<%= __('planning.generate') %>">
                                    <i class="fas fa-retweet"></i>
                                </a>
                                <a class="ml-3" href="/planning/create/category/<%= category.id %>/week-<%= i.toString().padStart(2, '0') + year %>" title="<%= __('planning.create') %>">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                            <% } %>
                            <% if(typeof plannings[i] !== "undefined") { %>
                                <a class="ml-3" href="/planning/category/<%= category.id %>/<%= minDate.getTime() %>" title="<%= __('planning.list') %>">
                                    <i class="fas fa-list-ol"></i>
                                </a>
                                <% if(plannings[i][0].validated) { %>
                                    <a class="ml-3" href="/planning/<%= plannings[i][0].id %>" title="<%= __('planning.validated') %>">
                                        <i class="fas fa-calendar-check"></i>
                                    </a>
                                <% } %>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-md-1">
        <% var nextDate = new Date(Date.UTC(year, month+1, 1)) %>
        <a href="/planning/category/<%= category.id %>/<%= nextDate.getTime() %>"><i class="fas fa-angle-right fa-2x"></i></a>
    </div>
</div>

<%- include ../footer.ejs %>
