<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
    <li class="breadcrumb-item"><a href="/planning"><%= __('planning.menu') %></a></li>
    <li class="breadcrumb-item"><a href="/planning/employee/<%= employee.id %>"><%= employee.getName() %></a></li>
    <% if(employee.category.interval == "month") { %>
        <li class="breadcrumb-item">
            <a href="/planning/employee/<%= employee.id %>/global/<%= firstDate.getTime() %>">
                <%= firstDate.getFullYear() %>
            </a>
        </li>
        <li class="breadcrumb-item active"><%= __("time.month" + (firstDate.getMonth() + 1)) %></li>
    <% } else if(employee.category.interval == "week") { %>
        <li class="breadcrumb-item"><%= firstDate.getFullYear() %></li>
        <li class="breadcrumb-item">
            <a href="/planning/employee/<%= employee.id %>/global/<%= firstDate.getTime() %>">
                <%= __('time.month' + (firstDate.getMonth() + 1)) %>
            </a>
        </li>
        <li class="breadcrumb-item active"><%= __('time.week') + ' ' + firstDate.getWeek() %></li>
    <% } else if(employee.category.interval == "day") { %>
        <li class="breadcrumb-item"><%= firstDate.getFullYear() %></li>
        <li class="breadcrumb-item">
            <a href="/planning/employee/<%= employee.id %>/global/<%= firstDate.getTime() %>">
                <%= __('time.month' + (firstDate.getMonth() + 1)) %>
            </a>
        </li>
        <% var day = firstDate.getDay() %>
        <li class="breadcrumb-item active"><%= __('time.day' + (day ? day : 7)) + ' ' + firstDate.getDate() %></li>
    <% } %>
  </ol>
</nav>

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">
                <%= __('planning.createdat') %>
            </th>
            <th class="text-center">
                <%= __('planning.validated') %>
            </th>
            <th class="text-center">
                <%= __('planning.type') %>
            </th>
            <th class="text-center">
                <%= __n('global.action', 2) %>
            </th>
        </tr>
    </thead>
    <tbody>
        <% for(var planning of plannings) { %>
            <tr class="<%= planning.validated ? "table-success font-weight-bold" : "" %>">
                <td class="text-center">
                    <%= planning.id %>
                </td>
                <td class="text-center">
                    <%= planning.getCreatedAtFormated() %>
                </td>
                <td class="text-center">
                    <i class="fas fa-check <%= planning.validated ? "visible" : "invisible" %>"></i>
                </td>
                <td class="text-center">
                    <% if(planning.generated && planning.success) { %>
                        <i class="fas fa-retweet"></i>
                    <% } else if(planning.generated && !planning.success) { %>
                        <i class="fas fa-exclamation-triangle"></i>
                    <% } else { %>
                        <i class="fas fa-plus"></i>
                    <% } %>
                </td>
                <td class="text-center">
                    <a href="/planning/<%= planning.id %>/employee/<%= employee.id %>">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>

<%- include ../footer.ejs %>
