<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
    <li class="breadcrumb-item"><a href="/planning"><%= __('planning.menu') %></a></li>
    <li class="breadcrumb-item"><a href="/employee/<%= employee.id %>"><%= employee.getName() %></a></li>
    <li class="breadcrumb-item active"><%= year %></li>
  </ol>
</nav>

<div class="row align-items-center">
    <div class="col-md-1">
        <a href="/planning/employee/<%= employee.id %>/<%= parseInt(year) - 1 %>"><i class="fas fa-angle-left fa-2x"></i></a>
    </div>
    <div class="col-md-10">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><%= __('time.month') %></th>
                <th scope="col"><%= __n("action.action", 2) %></th>
            </tr>
        </thead>
        <tbody>
            <% var now = new Date();
                for(var i=1; i<=12; i++) {
            %>
                <tr>
                    <td>
                        <% if(now.getMonth() == (i-1)) { %>
                            <b>
                        <% } %>
                        <%= __('time.month' + i.toString()) %> <%= year %>
                        <% if(now.getMonth() == (i-1)) { %>
                            </b>
                        <% } %>
                    </td>
                    <td>
                        <% if(typeof plannings[i-1] !== 'undefined') { %>
                            <a class="ml-3" href="/planning/employee/<%= employee.id %>/<%= i.toString().padStart(2, '0') + year %>" title="<%= __('planning.list') %>">
                            <i class="fas fa-list-ol"></i>
                            </a>
                            <% if(plannings[i-1].length > 0 && plannings[i-1][0].validated) { %>
                                <a class="ml-3" href="/planning/<%= plannings[i-1][0].id %>" title="<%= __('planning.validated') %>">
                                    <i class="fas fa-calendar-check"></i>
                                </a>
                            <% } %>
                        <% } %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-md-1">
        <a href="/planning/employee/<%= employee.id %>/<%= parseInt(year) + 1 %>"><i class="fas fa-angle-right fa-2x"></i></a>
    </div>
</div>

<%- include ../footer.ejs %>
