<%- include ../header.ejs %>

    <h2><%= __("planning.yearly") %> <%= year %> - <%= employee.getName() %></h2>
    <br>
    <div class="row">
        <div class="col-md-1">
            <a href="/planning/employee/<%= employee.id %>/<%= parseInt(year) - 1 %>"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
        </div>
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Mois</th>
                        <th scope="col">Autres</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                var now = new Date();
                for(var i=1; i<=12; i++) {
                    %>
                        <tr>
                            <td>
                                <% if(now.getMonth() == (i-1)) { %>
                                    <b>
                                <% } %>
                                    <%= __('time.month' + i.toString()) %> <%= year %>
                                <% if(now.getMonth() == (i-1)) { %>
                                    </b>
                                    <% } %>
                            </td>
                            <td>
                                <% if(typeof plannings[i-1] !== 'undefined') { %>
                                <a class="ml-3" href="/planning/employee/<%= employee.id %>/<%= i.toString().padStart(2, '0') + year %>" title="<%= __("planning.list") %>">
                                <i class="fas fa-list-ol"></i>
                                </a>
                                <%
                                var hasValidated = false;
                                for(var planning of plannings[i-1]) {
                                    if(planning.validated) {
                                        hasValidated = true;
                                        break;
                                    }
                                }

                                if(hasValidated) {
                                %>
                                <a class="ml-3" href="/planning/employee/<%= employee.id %>/<%= i.toString().padStart(2, '0') + year %>/validated" title="<%= __("planning.validated") %>">
                                <i class="fas fa-calendar-check"></i>
                                </a>
                                <% } %>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">
            <a href="/planning/employee/<%= employee.id %>/<%= parseInt(year) + 1 %>"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
        </div>
    </div>

    <%- include ../footer.ejs %>
