<%- include ../header.ejs %>

    <h2><%= __("planning.yearly") %> <%= year %> - <%= category ? category.name : __("category.default") %></h2>
    <br>
    <div class="row align-items-center">
        <div class="col-md-1">
            <a href="/planning/category/<%= category ? category.id : 0 %>/<%= parseInt(year) - 1 %>"><i class="fas fa-angle-left fa-2x"></i></a>
        </div>
        <div class="col-md-10">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mois</th>
                        <th scope="col">Autres</th>
                    </tr>
                </thead>
                <tbody>
<%
                var now = new Date();
                for(var i=1; i<=12; i++) {
%>
                        <tr>
                            <td>
                                <% if(now.getMonth() == (i-1)) { %>
                                    <b>
                                <% } %>
                                    <%= __('time.month' + i.toString()) %> <%= year %>
                                <% if(now.getMonth() == (i-1)) { %>
                                    </b>
                                    <% } %>
                            </td>
                            <td>
                                <% if((new Date(year, i, 0)).getTime() >= (new Date(now.getFullYear(), now.getMonth(), 1)).getTime()) { %>
                                <a href="/planning/generate/category/<%= category.id %>/<%= i.toString().padStart(2, '0') + year %>" title="<%= __("planning.generate") %>">
                                <i class="fas fa-retweet"></i>
                                </a>
                                <% } else { %>
                                    <a href="#"><i class="invisible fas fa-retweet"></i></a>
                                <% } %>
                                <% if(typeof plannings[i-1] !== 'undefined') { %>
                                <a class="ml-3" href="/planning/category/<%= category.id %>/<%= i.toString().padStart(2, '0') + year %>" title="<%= __("planning.list") %>">
                                <i class="fas fa-list-ol"></i>
                                </a>
<%
                                var hasValidated = false;
                                for(var planning of plannings[i-1]) {
                                    if(planning.validated) {
                                        hasValidated = true;
                                        break;
                                    }
                                }

                                if(hasValidated) {
%>
                                <a class="ml-3" href="/planning/category/<%= category.id %>/<%= i.toString().padStart(2, '0') + year %>/validated" title="<%= __("planning.validated") %>">
                                    <i class="fas fa-calendar-check"></i>
                                </a>
                                <% } %>
                                <% } %>
                                <% if((new Date(year, i, 0)).getTime() >= (new Date(now.getFullYear(), now.getMonth(), 1)).getTime()) { %>
                                <a class="ml-3" href="/planning/create/category/<%= category.id %>/<%= i.toString().padStart(2, '0') + year %>" title="<%= __("planning.create") %>">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">
            <a href="/planning/category/<%= category ? category.id : 0 %>/<%= parseInt(year) + 1 %>"><i class="fas fa-angle-right fa-2x"></i></a>
        </div>
    </div>

    <%- include ../footer.ejs %>
