<%- include ../header.ejs %>
<% switch(2) {
    case '2':
    break;
} %>
<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <%- include base-planning-breadcrumb.ejs %>
    <li class="breadcrumb-item active"><%= __('planning.proposal') %></li>
  </ol>
</nav>

<p class="text-right mb-3">
    <a class="btn btn-primary" href="/planning/<%= planning.id %>/validate">
        <%= __('planning.validate') %>
    </a>
    <a class="btn btn-primary ml-3" href="/planning/<%= planning.id %>/regenerate">
        <%= __('planning.regenerate') %>
    </a>
    <a class="btn btn-primary ml-3" href="/planning/<%= planning.id %>/calendar">
        <%= __('planning.calendarview') %>
    </a>
</p>

<%- include base-planning.ejs %>

<%- include ../footer.ejs %>