<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= __("global.home") %></a></li>
    <li class="breadcrumb-item"><a href="/planning"><%= __("planning.menu") %></a></li>
    <li class="breadcrumb-item"><a href="/planning/category/<%= planning.category.id %>"><%= planning.category.name %></a></li>
    <li class="breadcrumb-item"><a href="/planning/category/<%= planning.category.id %>/<%= planning.firstDate.getFullYear() %>"><%= planning.firstDate.getFullYear() %></a></li>
    <li class="breadcrumb-item"><%= __("time.month" + (planning.firstDate.getMonth() + 1)) %></li>
    <li class="breadcrumb-item active"><%= __("planning.proposal") %></li>
  </ol>
</nav>

<p class="text-right mb-3">
    <a class="btn btn-primary" href="/planning/<%= planning.id %>/validate">
        <%= __('planning.validate') %>
    </a>
    <a class="btn btn-primary ml-3" href="/planning/<%= planning.id %>/regenerate">
        <%= __('planning.regenerate') %>
    </a>
    <a class="btn btn-primary ml-3" href="/planning/<%= planning.id %>/calendar">
        <%= __('planning.calendarview') %>
    </a>
</p>

<%- include base-planning.ejs %>

<%- include ../footer.ejs %>