<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <%- include base-planning-breadcrumb.ejs %>
    <li class="breadcrumb-item active"><%= __('planning.validated') %></li>
  </ol>
</nav>

<p class="text-right mb-3">
    <a class="btn btn-primary" href="/planning/<%= planning.id %>/unvalidate">
        <%= __('planning.unvalidate') %>
    </a>
    <a class="btn btn-primary ml-3" href="/planning/<%= planning.id %>/calendar">
        <%= __('planning.calendarview') %>
    </a>
</p>

<%- include base-planning.ejs %>

<%- include ../footer.ejs %>