<%- include ../header.ejs %>

<h2>Disponibilités de <%= employee.firstName %> <%= employee.lastName %> pour l'année <%= year %></h2>
<br>
<div class="row">
    <div class="col-md-1">
        <a class="btn" href="/employee/<%= employee.id %>/availabilities/<%= parseInt(year) - 1 %>"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
    </div>
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Mois</th>
                    <th scope="col">Autres</th>
                </tr>
            </thead>
            <tbody>
                <%
                var now = new Date();
                for(var i=1; i<=12; i++) {
                    %>
                    <tr>
                    <td>
                    <a href="/employee/<%= employee.id %>/availabilities/<%= i.toString().padStart(2, '0') + year %>">
                    <% if(now.getMonth() == (i-1)) { %><b><% } %>
                    <%= i.toString().padStart(2, '0') %>/<%= year %>
                    <% if(now.getMonth() == (i-1)) { %></b><% } %>
                    </a>
                    </td>
                    <td>...
                    </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">
            <a class="btn" href="/employee/<%= employee.id %>/availabilities/<%= parseInt(year) + 1 %>"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
        </div>
    </div>

    <%- include ../footer.ejs %>
