<%- include ../header.ejs %>

<h2><%= __('employee.listing') %></h2>
<br>
<p>
    <a class="btn btn-primary" href="/employee/add"><%= __('global.add') %></a>
</p>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><%= __('employee.firstname') %></th>
            <th scope="col"><%= __('employee.lastname') %></th>
            <th scope="col"><%= __('employee.category') %></th>
            <th scope="col"><%= __n('global.action', 2) %></th>
        </tr>
    </thead>
    <tbody>
        <%
        for(var i in employees) {
            var employee = employees[i];
            %>
            <tr>
            <td><%= employee.firstName %></td>
            <td><%= employee.lastName %></td>
            <td><%= employee.category.name %></td>
            <td>
            <a href="/employee/<%= employee.id %>/update" title="<%= __('global.edit') %>"><i class="fas fa-pencil-alt"></i></a>&nbsp;
            <a href="/employee/<%= employee.id %>/delete" title="<%= __('global.delete') %>"><i class="fas fa-trash-alt"></i></a>&nbsp;
            <a href="/employee/<%= employee.id %>/availabilities" title="<%= __n('availability.availabilities', 2) %>"><i class="fas fa-calendar-alt"></i></a>&nbsp;
            <a href="/employee/<%= employee.id %>/availabilities/default" title="<%= __('availability.default') %>"><i class="fas fa-calendar-check"></i></a>
            </td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <%- include ../footer.ejs %>
