<%- include ../header.ejs %>

<h2>Présence potentielle de <%= employee.firstName %> <%= employee.lastName %></h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Présence</th>
            <th scope="col">Disponible</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i in possibilities) {%>
            <%var possibility = possibilities[i];%>
            <%var date = possibility.day;%>
            <% var dateId = date.getFullYear() + '-' + (date.getMonth()+1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0') %>

            <tr class="presenceRow" id="row<%= dateId %>" data-dateId="<%= dateId %>">
            <th scope="row"><%= date.getDate().toString().padStart(2, '0') + '/' + (date.getMonth()+1).toString().padStart(2, '0') + '/' + date.getFullYear() %></th>
            <td>
            <div class="form-check form-check-inline">
            <input class="form-check-input type" type="radio" name="type<%= dateId %>" id="type<%= dateId %>-all" value="all" data-dateId="<%= dateId %>" <%= possibility.type == 'all' ? "checked" : "" %>>
            <label class="form-check-label" for="inlineRadio1">Journée</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input type" type="radio" name="type<%= dateId %>" id="type<%= dateId %>-am" data-dateId="<%= dateId %>" value="am" <%= possibility.type == 'am' ? "checked" : "" %>>
            <label class="form-check-label" for="inlineRadio2">Matin</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input type" type="radio" name="type<%= dateId %>" id="type<%= dateId %>-pm" data-dateId="<%= dateId %>" value="pm" <%= possibility.type == 'pm' ? "checked" : "" %>>
            <label class="form-check-label" for="inlineRadio3">Après-midi</label>
            </div>
            </td>
            <td>
            <div class="form-check">
            <input class="form-check-input presence" type="checkbox" name="presence<%= dateId %>" id="presence<%= dateId %>" data-dateId="<%= dateId %>" <%= possibility.presence ? "checked" : "" %>>
            </div>
            </td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <script>
    $(document).ready(function() {
        var presences = {};

        $( "tr.presenceRow" ).each(function( index ) {
            var dateId = $(this).attr('data-dateId');
            presences[dateId] = {};
        });

        $( "input.type:checked" ).each(function( index ) {
            var dateId = $(this).attr('data-dateId');
            var value = this.value;

            presences[dateId].type = value;
        });

        $( "input.presence" ).each(function( index ) {
            var dateId = $(this).attr('data-dateId');
            var value = $(this).is(':checked');

            presences[dateId].presence = value;
        });

        console.log(presences);

        // $.post('/employee/' + <%= employee.id %> + '/presences/set',
        // { presences: presences },
        // function( data ) {
        //     console.log(data);
        // });

        $('input.type').change(function() {
            var dateId = this.name.replace(/type/, '');
            var value = this.value;

            $.post('/employee/' + <%= employee.id %> + '/presences/type/set',
            { dateId: dateId, value: value },
            function( data ) {
                console.log(data);
            });
            // todo : ajax request
        });

        $('input.presence').change(function() {
            var dateId = this.name.replace(/presence/, '');
            var value = $(this).is(':checked');

            $.post('/employee/' + <%= employee.id %> + '/presences/presence/set',
            { dateId: dateId, value: value },
            function( data ) {
                console.log(data);
            });

        });
    });
</script>

<%- include ../footer.ejs %>
