<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= __("global.home") %></a></li>
    <li class="breadcrumb-item"><a href="/employee"><%= __("employee.menu") %></a></li>
    <li class="breadcrumb-item active"><%= __("category.menu") %></li>
  </ol>
</nav>

<p class="text-right mb-3">
        <a class="btn btn-primary" href="/employee/category/add">
            <i class="fas fa-plus"></i>
        </a>
</p>
<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><%= __('category.name') %></th>
            <th scope="col"><%= __n('global.action', 2) %></th>
        </tr>
    </thead>
    <tbody>
    <%
    for(var i in categories) {
        var category = categories[i];
        %>
        <tr>
        <td><%= category.name %></td>
        <td>
        <a href="/employee/category/<%= category.id %>/update" title="<%= __('global.edit') %>"><i class="fas fa-pencil-alt"></i></a>&nbsp;
        <a href="/employee/category/<%= category.id %>/delete" title="<%= __('global.delete') %>"><i class="fas fa-trash-alt"></i></a>
        </td>
        </tr>
        <% } %>
    </tbody>
</table>
<%- include ../footer.ejs %>
