<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
        <li class="breadcrumb-item"><a href="/employee"><%= __('employee.menu') %></a></li>
        <li class="breadcrumb-item"><%= employee.getName() %></li>
        <li class="breadcrumb-item"><a href="/employee/<%= employee.id %>/availabilities"><%= __('availability.menu') %></a></li>
        <li class="breadcrumb-item active"><%= __('availability.default') %></li>
    </ol>
</nav>

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><%= __('availability.day') %></th>
            <th scope="col" class="text-center"><%= __('availability.slot') %></th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=1; i<=7; i++) { %>
            <% var day = i % 7; %>
            <tr>
                <th scope="row"><%= __("time.day" + day) %></th>
                <td class="type text-center">
                    <% if(typeof slots[day] !== 'undefined') { %>
                        <div class="btn-group" role="group">
                            <% for(var slot of slots[day]) { %>
                                <button type="button" class="btn btn-secondary btn-sm slot" data-day="<%= day %>" data-slotId="<%= slot.id %>"><%= slot.name %></button>
                            <% } %>
                        </div>
                    <% } else { %>
                        <button type="button" class="btn btn-secondary btn-sm" disabled><%= __('time.closed') %></button>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

            <script>
            $(document).ready(function() {
                $('button.slot').each(function() {
                    var day = $(this).attr("data-day");
                    var slotId = $(this).attr("data-slotId");
                    var that = this;
                    $.post('/employee/<%= employee.id %>/availabilities/default/state', {
                        slotId: slotId,
                        day: day
                    }, function(state) {
                        $(that).removeClass("btn-secondary btn-danger btn-success btn-info");

                        switch(state) {                            
                            case 'enabled':
                                $(that).addClass("btn-success");
                                break;
                            case 'disabled':
                                $(that).addClass("btn-danger");
                                break;
                            case 'mandatory':
                                $(that).addClass("btn-info");
                                break;
                        }
                    })
                });

                var DELAY = 400, clicks = 0, timer = null;

                $('button.slot').on("click", function() {
                    var enable = !$(this).hasClass("btn-success");
                    var day = $(this).attr("data-day");
                    var slotId = $(this).attr("data-slotId");
                    var that = this;

                    clicks++;

                    if(clicks === 1) {
                        timer = setTimeout(function() {
                            $(this).addClass("disabled");
                            $(this).removeClass("btn-danger btn-success btn-info");

                            if(enable) {
                                $(this).addClass("btn-success")
                            } else {
                                $(this).addClass("btn-danger")
                            }

                            $.post('/employee/<%= employee.id %>/availabilities/default/set', {
                                enable: enable,
                                slotId: slotId,
                                day: day
                            },
                            function(enabled) {
                                $(that).removeClass("disabled btn-danger btn-success btn-info");

                                if(enabled) {
                                    $(that).addClass("btn-success")
                                } else {
                                    $(that).addClass("btn-danger")
                                }
                            });
                        
                            clicks = 0;
                        }, DELAY);
                    } else {
                        clearTimeout(timer);
                        
                        $(this).addClass("disabled btn-info");
                        $(this).removeClass("btn-danger btn-success");

                        $.post('/employee/<%= employee.id %>/availabilities/default/set-mandatory', {
                            slotId: slotId,
                            day: day
                        },
                        function(mandatory) {
                            $(that).removeClass("disabled");
                        });

                        clicks = 0;   
                    }
                }).on("dblclick", function(e){
                    e.preventDefault();
                });
            });
            </script>

            <%- include ../footer.ejs %>
