<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
        <li class="breadcrumb-item"><a href="/employee"><%= __('employee.menu') %></a></li>
        <li class="breadcrumb-item"><%= employee.getName() %></li>
        <li class="breadcrumb-item"><a href="/employee/<%= employee.id %>/availabilities"><%= __('availability.menu') %></a></li>
        <li class="breadcrumb-item active"><%= __('availability.default') %></li>
    </ol>
</nav>

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><%= __('availability.day') %></th>
            <th scope="col" class="text-center"><%= __('availability.slot') %></th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=1; i<=7; i++) { %>
            <% var day = i % 7; %>
            <tr>
                <th scope="row"><%= __("time.day" + day) %></th>
                <td class="type text-center">
                    <% if(typeof slots[day] !== 'undefined') { %>
                        <div class="btn-group" role="group">
                            <% for(var slot of slots[day]) { %>
                                <button type="button" class="btn btn-secondary btn-sm slot" data-day="<%= day %>" data-slotId="<%= slot.id %>"><%= slot.name %></button>
                            <% } %>
                        </div>
                    <% } else { %>
                        <button type="button" class="btn btn-secondary btn-sm" disabled><%= __('time.closed') %></button>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

            <script>
            $(document).ready(function() {
                $('button.slot').each(function() {
                    var day = $(this).attr("data-day");
                    var slotId = $(this).attr("data-slotId");
                    var that = this;
                    $.post('/employee/<%= employee.id %>/availabilities/default/enabled', {
                        slotId: slotId,
                        day: day
                    }, function(enabled) {
                        $(that).removeClass("btn-secondary");

                        if(enabled) {
                            $(that).removeClass("btn-danger");
                            $(that).addClass("btn-success");
                        } else {
                            $(that).removeClass("btn-success");
                            $(that).addClass("btn-danger");
                        }
                    })
                });

                $('button.slot').click(function() {
                    var enable = !$(this).hasClass("btn-success");
                    var day = $(this).attr("data-day");
                    var slotId = $(this).attr("data-slotId");
                    var that = this;

                    $(this).addClass("disabled");

                    if(enable) {
                        $(this).removeClass("btn-danger");
                        $(this).addClass("btn-success")
                    } else {
                        $(this).removeClass("btn-success");
                        $(this).addClass("btn-danger")
                    }

                    $.post('/employee/<%= employee.id %>/availabilities/default/set', {
                        enable: enable,
                        slotId: slotId,
                        day: day
                    },
                    function(enabled) {
                        $(that).removeClass("disabled");

                        if(enabled) {
                            $(this).removeClass("btn-danger");
                            $(this).addClass("btn-success")
                        } else {
                            $(this).removeClass("btn-success");
                            $(this).addClass("btn-danger")
                        }
                    });
                });
            });
            </script>

            <%- include ../footer.ejs %>
