<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
        <li class="breadcrumb-item"><a href="/employee"><%= __('employee.menu') %></a></li>
        <li class="breadcrumb-item"><%= employee.getName() %></li>
        <li class="breadcrumb-item"><a href="/employee/<%= employee.id %>/availabilities"><%= __('availability.menu') %></a></li>
        <li class="breadcrumb-item active"><%= __('availability.default') %></li>
    </ol>
</nav>

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><%= __('availability.day') %></th>
            <th scope="col" class="text-center"><%= __('availability.slot') %></th>
            <th scope="col" class="text-center full"><%= __("availability.full") %></th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=1; i<=7; i++) { %>
            <% var day = i % 7; %>
            <tr>
                <th scope="row"><%= __("time.day" + day) %></th>
                <td class="type text-center">
                    <% if(typeof slots[day] !== 'undefined') { %>
                        <div class="btn-group" role="group" data-day="<%= day %>">
                            <% for(var slot of slots[day]) { %>
                                <button type="button" class="btn btn-secondary btn-sm slot" data-state="" data-day="<%= day %>" data-slotId="<%= slot.id %>"><%= slot.name %></button>
                            <% } %>
                        </div>
                    <% } else { %>
                        <button type="button" class="btn btn-secondary btn-sm" disabled><%= __('time.closed') %></button>
                    <% } %>
                </td>
                <td class="text-center full">
                    <button type="button" data-day="<%= day %>" class="btn btn-secondary btn-sm full d-none"></button>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('button.slot').each(function() {
            var day = $(this).attr("data-day");
            var slotId = $(this).attr("data-slotId");
            var that = this;
            $.post('/employee/<%= employee.id %>/availabilities/default/state', {
                slotId: slotId,
                day: day
            }, function(state) {
                $(that).removeClass("btn-secondary btn-danger btn-success btn-info");
                $(that).attr("data-state", state);

                switch(state) {
                    case 'enabled':
                        $(that).addClass("btn-success");
                        break;
                    case 'disabled':
                        $(that).addClass("btn-danger");
                        break;
                    case 'mandatory':
                        $(that).addClass("btn-info");
                        break;
                }
            });
        });

        $('button.full').each(function() {
            var day = $(this).attr("data-day");

            updateFull(day, this);
        });


        var DELAY = 400, clicks = 0, timer = null;

        $('button.slot').on("click", function() {
            var enable = !$(this).hasClass("btn-success");

            var state = $(this).attr("data-state");
            var day = $(this).attr("data-day");
            var slotId = $(this).attr("data-slotId");
            var that = this;

            clicks++;

            $(this).addClass("disabled");
            $(this).removeClass("btn-danger btn-success btn-info");

            if(clicks === 1) {
                timer = setTimeout(function() {
                    if(state !== "enabled") {
                        $(this).addClass("btn-success");
                    } else {
                        $(this).addClass("btn-danger");
                    }

                    var newState = state !== "enabled" ? "enabled" : "disabled";

                    $.post('/employee/<%= employee.id %>/availabilities/default/set', {
                        state: newState,
                        slotId: slotId,
                        day: day
                    },
                    function(state) {
                        updateFull(day, "button.full[data-day=" + day + "]");

                        $(that).removeClass("disabled btn-danger btn-success btn-info");
                        $(that).attr("data-state", state);

                        if(state === "enabled") {
                            $(that).addClass("btn-success")
                        } else {
                            $(that).addClass("btn-danger")
                        }
                    });

                    clicks = 0;
                }, DELAY);
            } else {
                clearTimeout(timer);

                $(this).addClass("btn-info");

                $.post('/employee/<%= employee.id %>/availabilities/default/set', {
                    state: "mandatory",
                    slotId: slotId,
                    day: day
                },
                function(state) {
                    updateFull(day, "button.full[data-day=" + day + "]");

                    $(that).attr("data-state", state);
                    $(that).removeClass("disabled");
                });

                clicks = 0;
            }
        }).on("dblclick", function(e){
            e.preventDefault();
        });
    });

    $("button.full").click(function() {
        var state = $(this).attr("data-state");
        var day = $(this).attr("data-day");

        var full = null;

        $(this).removeClass("btn-danger btn-success btn-secondary");
        $(this).addClass("disabled");
        $(this).empty();

        if(state === "disabled") {
            full = true;
            $(this).addClass("btn-success");
            $(this).html('<i class="fas fa-check"></i>');
        } else {
            full = false;
            $(this).addClass("btn-danger");
            $(this).html('<i class="fas fa-times"></i>');
        }

        var that = this;

        $.post('/employee/<%= employee.id %>/availabilities/default/set-full', {
            day: day,
            full: full
        }, function(status) {
            $(that).attr("data-state", full ? "enabled" : "disabled");
            $(that).removeClass("disabled");
        });
    });

    function updateFull(day, button) {  
        $.post('/employee/<%= employee.id %>/availabilities/default/full', {
            day: day
        }, function(full) {
            $(button).removeClass("btn-secondary btn-success btn-danger");
            $(button).empty();

            if(full !== "") {
                $(button).removeClass("d-none disabled");
                $(button).removeAttr("data-state");

                if(full == true) {
                    $(button).addClass("btn-success");
                    $(button).attr("data-state", "enabled");
                    $(button).html('<i class="fas fa-check"></i>');
                } else {
                    $(button).addClass("btn-danger");
                    $(button).attr("data-state", "disabled");
                    $(button).html('<i class="fas fa-times"></i>');
                }
            } else {
                $(button).addClass("d-none btn-secondary disabled");
            }
        });
    }
</script>

<%- include ../footer.ejs %>
