<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><%= __("global.home") %></a></li>
        <li class="breadcrumb-item"><a href="/employee"><%= __("employee.menu") %></a></li>
        <li class="breadcrumb-item"><%= employee.getName() %></li>
        <li class="breadcrumb-item"><a href="/employee/<%= employee.id %>/availabilities"><%= __("availability.menu") %></a></li>
        <li class="breadcrumb-item active"><%= year %></li>
    </ol>
</nav>

<div class="row align-items-center mt-5">
    <div class="col-md-1">
        <a href="/employee/<%= employee.id %>/availabilities/<%= parseInt(year) - 1 %>">
            <i class="fas fa-angle-left fa-2x"></i>
        </a>
    </div>
    <div class="col-md-10">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Mois</th>
                    <th scope="col">Autres</th>
                </tr>
            </thead>
            <tbody>
<%
                var now = new Date();
                for(var i=1; i<=12; i++) {
%>
                    <tr>
                    <td>
                    <a href="/employee/<%= employee.id %>/availabilities/<%= i.toString().padStart(2, '0') + year %>">
                    <% if(now.getMonth() == (i-1)) { %><b><% } %>
                    <%= i.toString().padStart(2, '0') %>/<%= year %>
                    <% if(now.getMonth() == (i-1)) { %></b><% } %>
                    </a>
                    </td>
                    <td>...
                    </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">
            <a href="/employee/<%= employee.id %>/availabilities/<%= parseInt(year) + 1 %>"><i class="fas fa-angle-right fa-2x"></i></a>
        </div>
    </div>

    <%- include ../footer.ejs %>
