<%- include ../header.ejs %>

<h2>Disponibilités de <%= employee.firstName %> <%= employee.lastName %></h2>
<br>
<div class="row mb-5">
    <div class="col">
        <p>
            <% var dateId = (firstDate.getMonth()+1).toString().padStart(2, '0') + firstDate.getFullYear() %>
            <button id="default" class="float-right btn btn-primary" data-dateId="<%= dateId %>">
                <%= __("availability.setdefault") %><i class="fas fa-spinner fa-spin ml-3 d-none"></i>
            </button>
            <a href="/employee/<%= employee.id %>/availabilities/<%= firstDate.getFullYear() %>" class="float-left ml-3 btn btn-primary">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </a>
        </p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-1">
<%
        var previousMonth = new Date(firstDate);
        previousMonth.setMonth(previousMonth.getMonth()-1);
%>
        <a href="/employee/<%= employee.id %>/availabilities/<%= (previousMonth.getMonth() + 1).toString().padStart(2, '0') + previousMonth.getFullYear() %>" role="button"><i class="fas fa-angle-left fa-2x"></i></a>
    </div>
    <div class="col-md-10">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><%= __("availability.date") %></th>
                    <th scope="col" class="text-center"><%= __("availability.slot") %></th>
                </tr>
            </thead>
            <tbody>
                <% for(var d=firstDate; d<=lastDate; d.setDate(d.getDate() + 1)) { %>
                    <% var dateId = d.getTime(); %>
                    <tr class="availability">
                    <th scope="row" class="date">
                    <%= d.getDate().toString().padStart(2, '0') + '/' + (d.getMonth()+1).toString().padStart(2, '0') + '/' + d.getFullYear() %>
                    </th>
                    <td class="type text-center">
                    <% if(typeof slots[d.getDay()] !== 'undefined') { %>
                        <div class="btn-group" role="group">
                        <% for(var slot of slots[d.getDay()]) { %>
                            <button type="button" class="btn btn-secondary btn-sm slot" data-dateId="<%= dateId %>" data-slotId="<%= slot.id %>"><%= slot.name %></button>
                            <% } %>
                            </div>
                            <% } else { %>
                                <button type="button" class="btn btn-secondary btn-sm disabled"><%= __("time.closed") %></button>
                            <% } %>
                            </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1">
<%
                    var nextMonth = new Date(firstDate);
                    nextMonth.setMonth(nextMonth.getMonth()+1);
%>
                    <a href="/employee/<%= employee.id %>/availabilities/<%= nextMonth.getMonth().toString().padStart(2, '0') + nextMonth.getFullYear() %>" role="button"><i class="fas fa-angle-right fa-2x"></i></a>
                </div>
            </div>

            <script>
            $(document).ready(function() {
                updateButtons();

                $('button#default').click(function() {
                    $(this).find("i").removeClass("d-none");

                    var dateId = $(this).attr("data-dateId");
                    var that = this;

                    $.get('/employee/<%= employee.id %>/availabilities/' + dateId + '/default',
                    function(status) {
                        updateButtons();
                        $(that).find("i").addClass("d-none");
                    });
                });

                $('button.slot').click(function() {
                    var enable = !$(this).hasClass("btn-success");
                    var dateId = $(this).attr("data-dateId");
                    var slotId = $(this).attr("data-slotId");
                    var that = this;

                    $(this).addClass("disabled");

                    if(enable) {
                        $(this).removeClass("btn-danger");
                        $(this).addClass("btn-success")
                    } else {
                        $(this).removeClass("btn-success");
                        $(this).addClass("btn-danger")
                    }

                    $.post('/employee/<%= employee.id %>/availabilities/set', {
                        enable: enable,
                        slotId: slotId,
                        dateId: dateId
                    },
                    function(enabled) {
                        $(that).removeClass("disabled");

                        if(enabled) {
                            $(this).removeClass("btn-danger");
                            $(this).addClass("btn-success")
                        } else {
                            $(this).removeClass("btn-success");
                            $(this).addClass("btn-danger")
                        }
                    });
                });

                function updateButtons() {
                    $('button.slot').each(function() {
                        var dateId = $(this).attr("data-dateId");
                        var slotId = $(this).attr("data-slotId");
                        var that = this;

                        $.post('/employee/<%= employee.id %>/availabilities/enabled', {
                            slotId: slotId,
                            dateId: dateId
                        }, function(enabled) {
                            $(that).removeClass("btn-secondary");

                            if(enabled) {
                                $(that).removeClass("btn-danger");
                                $(that).addClass("btn-success");
                            } else {
                                $(that).removeClass("btn-success");
                                $(that).addClass("btn-danger");
                            }
                        })
                    });
                }
            });
            </script>

            <%- include ../footer.ejs %>
