<%- include ../header.ejs %>

<h2>Disponibilités de <%= employee.firstName %> <%= employee.lastName %></h2>
<br>
<p class="text-right">
    <% var dateId = (firstDate.getMonth()+1).toString().padStart(2, '0') + firstDate.getFullYear() %>
    <button id="default" class="btn btn-primary" data-dateId="<%= dateId %>"><%= __("availability.setdefault") %></button>
</p>
<br>
<div class="row">
    <div class="col-md-1">
        <%
        var previousMonth = new Date(firstDate);
        previousMonth.setMonth(previousMonth.getMonth()-1);
        %>
        <a href="/employee/<%= employee.id %>/availabilities/<%= (previousMonth.getMonth() + 1).toString().padStart(2, '0') + previousMonth.getFullYear() %>" role="button"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
    </div>
    <div class="col-md-10">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col"><%= __("availability.date") %></th>
                    <th scope="col" class="text-center"><%= __("availability.slottype") %></th>
                </tr>
            </thead>
            <tbody>
                <% for(var d=firstDate; d<=lastDate; d.setDate(d.getDate() + 1)) { %>
                    <% var dateId = d.getFullYear() + '-' + (d.getMonth()+1).toString().padStart(2, '0') + '-' + d.getDate().toString().padStart(2, '0') %>
                    <tr class="availability">
                    <th scope="row" class="date">
                    <%= d.getDate().toString().padStart(2, '0') + '/' + (d.getMonth()+1).toString().padStart(2, '0') + '/' + d.getFullYear() %>
                    </th>
                    <td class="type text-center">
                    <% if(typeof slotTypes[d.getDay()] !== 'undefined') { %>
                        <div class="btn-group" role="group">
                        <% for(var slotType of slotTypes[d.getDay()]) { %>
                            <button type="button" class="btn btn-secondary btn-sm slot" data-dateId="<%= dateId %>" data-slotTypeId="<%= slotType.id %>"><%= slotType.name %></button>
                            <% } %>
                            </div>
                            <% } %>
                            </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1">
                    <%
                    var nextMonth = new Date(firstDate);
                    nextMonth.setMonth(nextMonth.getMonth()+1);
                    %>
                    <a href="/employee/<%= employee.id %>/availabilities/<%= nextMonth.getMonth().toString().padStart(2, '0') + nextMonth.getFullYear() %>" role="button"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
                </div>
            </div>

            <script>
            $(document).ready(function() {
                updateButtons();

                $('button#default').click(function() {
                    var dateId = $(this).attr("data-dateId");
                    console.log(dateId);
                    $.get('/employee/<%= employee.id %>/availabilities/' + dateId + '/default',
                    function(status) {
                        console.log(status);
                        updateButtons();
                    });
                });

                $('button.slot').click(function() {
                    var enable = !$(this).hasClass("btn-success");
                    var dateId = $(this).attr("data-dateId");
                    var slotTypeId = $(this).attr("data-slotTypeId");
                    var that = this;

                    $(this).addClass("disabled");

                    if(enable) {
                        $(this).removeClass("btn-danger");
                        $(this).addClass("btn-success")
                    } else {
                        $(this).removeClass("btn-success");
                        $(this).addClass("btn-danger")
                    }

                    $.post('/employee/<%= employee.id %>/availabilities/set', {
                        enable: enable,
                        slotTypeId: slotTypeId,
                        dateId: dateId
                    },
                    function(enabled) {
                        $(that).removeClass("disabled");

                        if(enabled) {
                            $(this).removeClass("btn-danger");
                            $(this).addClass("btn-success")
                        } else {
                            $(this).removeClass("btn-success");
                            $(this).addClass("btn-danger")
                        }
                    });
                });

                function updateButtons() {
                    $('button.slot').each(function() {
                        var dateId = $(this).attr("data-dateId");
                        var slotTypeId = $(this).attr("data-slotTypeId");
                        var that = this;

                        $.post('/employee/<%= employee.id %>/availabilities/enabled', {
                            slotTypeId: slotTypeId,
                            dateId: dateId
                        }, function(enabled) {
                            $(that).removeClass("btn-secondary");

                            if(enabled) {
                                $(that).removeClass("btn-danger");
                                $(that).addClass("btn-success");
                            } else {
                                $(that).removeClass("btn-success");
                                $(that).addClass("btn-danger");
                            }
                        })
                    });
                }
            });
            </script>

            <%- include ../footer.ejs %>
