<%- include ../header.ejs %>

<%
Date.prototype.getWeek = function() {
    var date = new Date(this.getTime());
    date.setHours(0, 0, 0, 0);
    date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
    var week1 = new Date(date.getFullYear(), 0, 4);
    return 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);
}
%>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><%= __("global.home") %></a></li>
        <li class="breadcrumb-item"><a href="/employee"><%= __("employee.menu") %></a></li>
        <li class="breadcrumb-item"><%= employee.getName() %></li>
        <li class="breadcrumb-item"><a href="/employee/<%= employee.id %>/availabilities"><%= __("availability.menu") %></a></li>
        <li class="breadcrumb-item"><a href="/employee/<%= employee.id %>/availabilities/<%= firstDate.getFullYear() %>"><%= firstDate.getFullYear() %></a></li>
        <li class="breadcrumb-item"><%= __("time.month" + (firstDate.getMonth() + 1)) %></li>
    </ol>
</nav>

<p class="mt-5 mb-3 text-right">
    <% var dateId = (firstDate.getMonth()+1).toString().padStart(2, '0') + firstDate.getFullYear() %>
    <button id="default" class="btn btn-primary" data-dateId="<%= dateId %>">
        <%= __("availability.setdefault") %><i class="fas fa-spinner fa-spin ml-3 d-none"></i>
    </button>
    <button id="toggleall" data-action="enable" class="mr-3 btn btn-primary">
        <%= __("availability.enableall") %>
    </button>
</p>

<div class="row align-items-center">
    <div class="col-md-1">
<%
        var previousMonth = new Date(firstDate);
        previousMonth.setMonth(previousMonth.getMonth()-1);
%>
        <a href="/employee/<%= employee.id %>/availabilities/<%= (previousMonth.getMonth() + 1).toString().padStart(2, '0') + previousMonth.getFullYear() %>" role="button"><i class="fas fa-angle-left fa-2x"></i></a>
    </div>
    <div class="col-md-10">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2" scope="col" class="align-middle text-center"><%= __("availability.date") %></th>
                    <th scope="col" class="text-center"><%= __("availability.slot") %></th>
                </tr>
            </thead>
            <tbody>
                <% for(var d=new Date(firstDate); d<=lastDate; d.setDate(d.getDate() + 1)) { %>
                    <% var dateId = d.getTime(); %>
                    <tr class="availability">
<%
                        if(d.getDay() == 1 || d.getTime() == firstDate.getTime()) {
                            var days = 8 - (d.getDay() || 7);
%>
                            <th rowspan="<%= days %>" class="week-number align-middle"><span class="badge badge-secondary"><%= d.getWeek() %></span></th>
<%
                        }
%>
                    <th scope="row" class="date align-middle">
                        <%= __("time.shortday" + d.getDay()) %> <%= d.getDate().toString().padStart(2, '0') + '/' + (d.getMonth()+1).toString().padStart(2, '0') + '/' + d.getFullYear() %>
                    </th>
                    <td class="type text-center">
                    <% if(typeof slots[d.getDay()] !== 'undefined') { %>
                        <div class="btn-group" role="group">
                        <% for(var slot of slots[d.getDay()]) { %>
                            <button type="button" class="btn btn-secondary btn-sm slot" data-dateId="<%= dateId %>" data-slotId="<%= slot.id %>"><%= slot.name %></button>
                            <% } %>
                            </div>
                            <% } else { %>
                                <button type="button" class="btn btn-secondary btn-sm disabled"><%= __("time.closed") %></button>
                            <% } %>
                            </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1">
<%
                    var nextMonth = new Date(firstDate);
                    nextMonth.setMonth(nextMonth.getMonth()+1);
%>
                    <a href="/employee/<%= employee.id %>/availabilities/<%= nextMonth.getMonth().toString().padStart(2, '0') + nextMonth.getFullYear() %>" role="button"><i class="fas fa-angle-right fa-2x"></i></a>
                </div>
            </div>

            <script>
            $(document).ready(function() {
                updateButtons();

                $('button#default').click(function() {
                    $(this).find("i").removeClass("d-none");

                    var dateId = $(this).attr("data-dateId");
                    var that = this;

                    $.get('/employee/<%= employee.id %>/availabilities/' + dateId + '/default',
                    function(status) {
                        updateButtons();
                        $(that).find("i").addClass("d-none");
                    });
                });

                $('button.slot').click(function() {
                    var enable = !$(this).hasClass("btn-success");
                    var dateId = $(this).attr("data-dateId");
                    var slotId = $(this).attr("data-slotId");
                    var that = this;

                    $(this).addClass("disabled");

                    if(enable) {
                        $(this).removeClass("btn-danger");
                        $(this).addClass("btn-success")
                    } else {
                        $(this).removeClass("btn-success");
                        $(this).addClass("btn-danger")
                    }

                    enableSlot(enable, slotId, dateId, this);
                });

                $("button#toggleall").click(function() {
                    var action = $(this).attr("data-action");
                    var enable = action == "enable" ? true : false;

                    $('button.slot').each(function() {
                        var dateId = $(this).attr("data-dateId");
                        var slotId = $(this).attr("data-slotId");

                        enableSlot(enable, slotId, dateId, this);
                    });

                    if(enable) {
                        $(this).attr("data-action", "disable");
                        $(this).html('<%= __("availability.disableall") %>');
                    } else {
                        $(this).attr("data-action", "enable");
                        $(this).html('</i><%= __("availability.enableall") %>');
                    }
                });

                function enableSlot(enable, slotId, dateId, button) {
                    $.post('/employee/<%= employee.id %>/availabilities/set', {
                        enable: enable,
                        slotId: slotId,
                        dateId: dateId
                    },
                    function(enabled) {
                        $(button).removeClass("disabled");

                        if(enabled) {
                            $(button).removeClass("btn-danger");
                            $(button).addClass("btn-success")
                        } else {
                            $(button).removeClass("btn-success");
                            $(button).addClass("btn-danger")
                        }
                    });
                }

                function updateButtons() {
                    $('button.slot').each(function() {
                        var dateId = $(this).attr("data-dateId");
                        var slotId = $(this).attr("data-slotId");
                        var that = this;

                        $.post('/employee/<%= employee.id %>/availabilities/enabled', {
                            slotId: slotId,
                            dateId: dateId
                        }, function(enabled) {
                            $(that).removeClass("btn-secondary");

                            if(enabled) {
                                $(that).removeClass("btn-danger");
                                $(that).addClass("btn-success");
                            } else {
                                $(that).removeClass("btn-success");
                                $(that).addClass("btn-danger");
                            }
                        })
                    });
                }
            });
            </script>

            <%- include ../footer.ejs %>
