<%- include ../header.ejs %>

    <h2><%= __("global.home") %></h2>
    <br>
<%
    function getRealDay(day) {
        return day != 0 ? day : 7;
    }

    var month = 6;
    var firstDate = new Date(2018, month, 2 - getRealDay(new Date(2018, month, 1).getDay()));
    var lastDate = new Date(2018, month + 1, 0);
%>

        <table class="table table-bordered">
<%
            var newWeek = true, currentDate = new Date(firstDate);
            while(newWeek) {
%>
                <tr>
                    <% for(var i=1; i<=7; i++) { %>
                        <td class="calendar-day py-1 px-1 col<%= currentDate.getMonth() == month ? " font-weight-bold " : " " %>">
                            <p>
                                <%= currentDate.getDate(); %>
                            </p>
                            <% currentDate.setDate(currentDate.getDate() + 1); %>
                                <button type="button" data-toggle="popover" data-trigger="focus" title="Popover title" data-content="And here's some amazing content.<br>It's very engaging. Right?" class="align-text-top py-0 btn btn-primary btn-block my-1">A</button>
                                <button type="button" data-toggle="popover" data-trigger="focus" title="Popover title" data-content="And here's some amazing content.\nIt's very engaging. Right?" data-trigger="focus" class="align-text-top py-0 btn btn-secondary btn-block my-1">B</button>
                        </td>
                        <% } %>
                </tr>
<%
                newWeek = (currentDate.getMonth() <= month);
                }
%>
        </table>

        <script>
$(document).ready(function() {
    $(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        })
    })
});

        </script>

        <%- include ../footer.ejs %>
