<%- include ../header.ejs %>

<h2><%= __("company.show") %></h2>
<br>
<p>
    <a class="btn btn-primary" href="/company/update" role="button"><%= __("global.edit") %></a>
</p>
<br>
<table class="table table-borderless">
  <tbody>
    <tr>
      <td><%= __("company.name") %></td>
      <td><%= company.name ? company.name : "-" %></td>
    </tr>
    <tr>
        <td><%= __("company.email") %></td>
        <td><%= company.email ? company.email : "-" %></td>
    </tr>
    <tr>
        <td><%= __("company.phone") %></td>
        <td><%= company.phone ? company.phone : "-" %></td>
    </tr>
  </tbody>
</table>
<br>
<h4><%= __("company.defaultagenda") %></h4>
<br>
<table class="table table-bordered defaultDays text-center">
    <thead>
        <tr>
            <th class="text-center" style="width: 14.29%" scope="col"><%= __("time.monday") %></th>
            <th class="text-center" style="width: 14.29%" cope="col"><%= __("time.tuesday") %></th>
            <th class="text-center" style="width: 14.29%" scope="col"><%= __("time.wednesday") %></th>
            <th class="text-center" style="width: 14.29%" scope="col"><%= __("time.thursday") %></th>
            <th class="text-center" style="width: 14.29%" scope="col"><%= __("time.friday") %></th>
            <th class="text-center" style="width: 14.29%" scope="col"><%= __("time.saturday") %></th>
            <th class="text-center" style="width: 14.29%" scope="col"><%= __("time.sunday") %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= __(company.defaultDay1) %></td>
            <td><%= __(company.defaultDay2) %></td>
            <td><%= __(company.defaultDay3) %></td>
            <td><%= __(company.defaultDay4) %></td>
            <td><%= __(company.defaultDay5) %></td>
            <td><%= __(company.defaultDay6) %></td>
            <td><%= __(company.defaultDay0) %></td>
        </tr>
    </tbody>
</table>

<%- include ../footer.ejs %>
