<%- include ../header.ejs %>

<h2><%= __("agenda.home") %></h2>
<br>

<% for(var category of categories) { %>
    <% if(category) { %>
    <h4><a href="/agenda/<%= category.id %>"><%= category.name %></a></h4>
    <% } else { %>
        <h4><a href="/agenda/0"><%= __("category.default") %></a></h4>
    <% } %>
    <br>
    <% } %>


    <%- include ../footer.ejs %>
