<%- include ../header.ejs %>

<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><%= __("global.home") %></a></li>
        <li class="breadcrumb-item"><a href="/agenda"><%= __("agenda.menu") %></a></li>
        <li class="breadcrumb-item active"><%= __("agenda.default") %></li>
    </ol>
</nav>

<% for(var category of categories) { %>
    <% if(category) { %>
    <h4><a href="/agenda/default/<%= category.id %>"><%= category.name %></a></h4>
    <% } else { %>
        <h4><a href="/agenda/default/0"><%= __("category.default") %></a></h4>
    <% } %>
    <br>
    <% } %>


    <%- include ../footer.ejs %>
