<%- include ../header.ejs %>

<h2><%= __("agenda.list") %></h2>
<br>
<%var currentMonth = agendas[0].day;%>
<p>
    <a class="btn btn-primary" href="/agenda/<%= currentMonth.getFullYear() %>" role="button">Retour</a>&nbsp;
    <a class="btn btn-primary" href="/agenda/<%= (currentMonth.getMonth() + 1).toString().padStart(2, '0') + currentMonth.getFullYear() %>/reset" role="button"><%= __("agenda.reset") %></a>
</p>
<br>
<div class="row">
    <div class="col-md-1">
        <%
        var previousMonth = new Date(agendas[0].day);
        previousMonth.setMonth(previousMonth.getMonth()-1);
        %>
        <a href="/agenda/<%= (previousMonth.getMonth() + 1).toString().padStart(2, '0') + previousMonth.getFullYear() %>" role="button"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
    </div>
    <div class="col-md-10">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col" class="date"><%= __("agenda.date") %></th>
                    <th scope="col" class="text-center"><%= __("agenda.type") %></th>
                    <th scope="col" class="text-center"><%= __("agenda.number") %></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i in agendas) {%>
                    <%var agenda = agendas[i];
                    var date = agenda.day;
                    var dateId = date.getFullYear() + '-' + (date.getMonth()+1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0') %>

                    <tr class="agendaRow" id="row<%= dateId %>" data-dateId="<%= dateId %>">
                    <th scope="row" class="date">
                    <%= date.getDate().toString().padStart(2, '0') + '/' + (date.getMonth()+1).toString().padStart(2, '0') + '/' + date.getFullYear() %>
                    </th>
                    <td class="type text-center" data-type="<%= agenda.type %>" data-dateId="<%= dateId %>">
                    <%= __(agenda.type) %>
                    </td>
                    <td class="number text-center" data-state="display" data-number="<%= agenda.number %>" data-dateId="<%= dateId %>">
                    <span class="number-display"><%= agenda.number %></span>
                    <span class="number-control">
                    <input class="mx-auto form-control mr-0" style="width:60px; display:none;" type="number" value="<%= agenda.number %>">
                    </span>
                    </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">
            <%
            var nextMonth = new Date(agendas[0].day);
            nextMonth.setMonth(nextMonth.getMonth()+2);
            %>
            <a href="/agenda/<%= (nextMonth.getMonth() + 1).toString().padStart(2, '0') + nextMonth.getFullYear() %>" role="button"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        var typeOrder = ['time.allday', 'time.morning', 'time.afternoon', 'time.closed'];
        var typeTranslations = {
            'time.allday': "<%= __("time.allday") %>",
            'time.morning': "<%= __("time.morning") %>",
            'time.afternoon': "<%= __("time.afternoon") %>",
            'time.closed': "<%= __("time.closed") %>" %>
        };

        $('td.type').click(function() {
            var index = typeOrder.indexOf($(this).attr("data-type"));
            var nextIndex = (index + 1) % typeOrder.length;
            var value = typeOrder[nextIndex];
            var dateId = $(this).attr("data-dateId");
            var that = this;

            $.post('/agenda/type/set',
            { dateId: dateId, value: value },
            function( data ) {
                $(that).attr("data-type", value);
                $(that).text(typeTranslations[value]);
            });
        });

        $('td.number').click(function() {
            if($(this).attr("data-state") == "display") {
                $(this).find("span.number-display").hide();
                $(this).find("span.number-control input").show();
                $(this).attr("data-state", "control");
            }
        });

        $('span.number-control input').focusout(function() {
            var td = $(this).parent().parent();
            var value = $(this).val();
            var dateId = td.attr("data-dateId");

            $.post('/agenda/number/set',
            { dateId: dateId, value: value },
            function (data) {
                td.find("span.number-display").text(value);
                td.find("span.number-display").show();
                td.find("span.number-control input").hide();
                window.setTimeout(function() { td.attr("data-state", "display"); }, 50);
            });
        });


    });
</script>

<%- include ../footer.ejs %>
