<%- include ../header.ejs %>

<%
Date.prototype.getWeek = function() {
    var date = new Date(this.getTime());
    date.setHours(0, 0, 0, 0);
    date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
    var week1 = new Date(date.getFullYear(), 0, 4);
    return 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000 - 3 + (week1.getDay() + 6) % 7) / 7);
}
%>
<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><%= __('global.home') %></a></li>
        <li class="breadcrumb-item"><a href="/agenda"><%= __('agenda.menu') %></a></li>
        <li class="breadcrumb-item"><a href="/agenda/<%= category.id %>"><%= category.name %></a></li>
        <li class="breadcrumb-item"><a href="/agenda/<%= category.id %>/<%= firstDate.getFullYear() %>"><%= firstDate.getFullYear() %></a></li>
        <li class="breadcrumb-item active"><%= __("time.month" + (firstDate.getMonth() + 1)) %></li>
    </ol>
</nav>

<p class="mb-3 text-right">
    <button id="toggleall" data-action="enable" class="ml-3 btn btn-primary">
        <%= __('agenda.enableall') %>
    </button>
    <% var dateId = (firstDate.getMonth()+1).toString().padStart(2, '0') + firstDate.getFullYear() %>
    <button id="default" class="ml-3 btn btn-primary" data-dateId="<%= dateId %>">
        <%= __('agenda.setdefault') %><i class="fas fa-spinner fa-spin ml-3 d-none"></i>
    </button>
</p>
<br>
<div class="row align-items-center">
    <div class="col-md-1">
<%
        var previousMonth = new Date(firstDate);
        previousMonth.setMonth(previousMonth.getMonth()-1);
%>
        <a href="/agenda/<%= category.id %>/<%= (previousMonth.getMonth() + 1).toString().padStart(2, '0') + previousMonth.getFullYear() %>" role="button"><i class="fas fa-angle-left fa-2x"></i></a>
    </div>
    <div class="col-md-10">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2" scope="col" class="align-middle text-center"><%= __('agenda.date') %></th>
                    <th scope="col" class="text-center"><button class="btn btn-info btn-sm button-mode"><b><%= __('agenda.slot') %></b></button></th>
                </tr>
            </thead>
            <tbody>
<%
                for(var d=new Date(firstDate); d<=lastDate; d.setDate(d.getDate() + 1)) {
                    var dateId = d.getTime();
%>
                    <tr class="agenda table-light">
<%
                        if(d.getDay() == 1 || d.getTime() == firstDate.getTime()) {
                            var days = 8 - (d.getDay() || 7);
%>
                            <th rowspan="<%= days %>" class="week-number align-middle"><span class="badge badge-secondary"><%= d.getWeek() %></span></th>
<%
                        }
%>
                        <th class="date align-middle">
                            <%= __("time.shortday" + d.getDay()) %>  <%= d.getDate().toString().padStart(2, '0') + '/' + (d.getMonth()+1).toString().padStart(2, '0') + '/' + d.getFullYear() %>
                        </th>
                        <td class="type text-center">
                            <% if(typeof slots[d.getDay()] !== 'undefined') { %>
                                <div class="btn-group slots py-0" role="group">
                                    <% for(var slot of slots[d.getDay()]) { %>
                                        <button type="button" class="btn btn-secondary btn-sm slot" data-dateId="<%= dateId %>" data-slotId="<%= slot.id %>"><%= slot.name %></button>
                                        <% } %>
                                    </div>
                                    <form class="numbers d-none form-inline justify-content-center">
                                        <% var index=0; for(var slot of slots[d.getDay()]) { %>
                                            <div class="input-group input-group-sm number-<%= dateId + "-" + slot.id %> number">
                                                <div class="input-group-prepend <%= index > 0 ? "pl-3" : "" %>">
                                                    <span class="input-group-text bg-success text-white " id="inputGroup-sizing-sm"><%= slot.name %></span>
                                                </div>
                                                <input type="number" min="1" class="number form-control form-control-sm" data-dateId="<%= dateId %>" data-slotId="<%= slot.id %>">
                                            </div>
                                            <% index++ } %>
                                            <button type="button" class="btn btn-danger btn-sm disabled number-closed"><%= __('time.closed') %></button>
                                        </form>
                                        <% } else { %>
                                            <button type="button" class="btn btn-secondary btn-sm disabled"><%= __('time.closed') %></button>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-1">
<%
                            var nextMonth = new Date(firstDate);
                            nextMonth.setMonth(nextMonth.getMonth()+1);
%>
                            <a href="/agenda/<%= category.id %>/<%= (nextMonth.getMonth() + 1).toString().padStart(2, '0') + nextMonth.getFullYear() %>" role="button"><i class="fas fa-angle-right fa-2x"></i></a>
                        </div>
                    </div>

                    <script>
                    $(document).ready(function() {
                        updateButtons();
                        updateNumbers();

                        $("button.button-mode").click(function() {
                            if($("form.numbers").hasClass("d-none")) {
                                $("div.slots").addClass("d-none");
                                $("form.numbers").removeClass("d-none");
                                $(this).html("<%= __('agenda.number') %>");
                            } else {
                                $("form.numbers").addClass("d-none");
                                $("div.slots").removeClass("d-none");
                                $(this).html("<%= __('agenda.slot') %>");
                            }
                        });



                        $('button#default').click(function() {
                            $(this).find("i").removeClass("d-none");
                            
                            var dateId = $(this).attr("data-dateId");
                            var that = this;

                            $.get('/agenda/<%= category.id %>/' + dateId + '/default',
                            function(status) {
                                updateButtons();
                                updateNumbers();
                                $(that).find("i").addClass("d-none");
                            });
                        });

                        $('button.slot').click(function() {
                            var enable = !$(this).hasClass("btn-success");
                            var dateId = $(this).attr("data-dateId");
                            var slotId = $(this).attr("data-slotId");
                            var that = this;

                            $(this).addClass("disabled");

                            if(enable) {
                                $(this).removeClass("btn-danger");
                                $(this).addClass("btn-success")
                            } else {
                                $(this).removeClass("btn-success");
                                $(this).addClass("btn-danger")
                            }

                            enableSlot(enable, slotId, dateId, this);
                        });

                        $("button#toggleall").click(function() {
                            var action = $(this).attr("data-action");
                            var enable = action == "enable" ? true : false;

                            $('button.slot').each(function() {
                                var dateId = $(this).attr("data-dateId");
                                var slotId = $(this).attr("data-slotId");

                                enableSlot(enable, slotId, dateId, this);
                            });

                            if(enable) {
                                $(this).attr("data-action", "disable");
                                $(this).html("<%= __('agenda.disableall') %>");
                            } else {
                                $(this).attr("data-action", "enable");
                                $(this).html("</i><%= __('agenda.enableall') %>");
                            }
                        });

                        $('input.number').change(function() {
                            var number = $(this).val();
                            var dateId = $(this).attr("data-dateId");
                            var slotId = $(this).attr("data-slotId");

                            $.post('/agenda/set-number', {
                                number: number,
                                slotId: slotId,
                                dateId: dateId
                            }, function(value) {
                            });
                        });

                        function enableSlot(enable, slotId, dateId, button) {
                            $.post('/agenda/set', {
                                enable: enable,
                                slotId: slotId,
                                dateId: dateId
                            },
                            function(enabled) {
                                $(button).removeClass("disabled");

                                if(enabled) {
                                    var number = $(button).parent().siblings("form").find("div.number-" + dateId + "-" + slotId + " input");
                                    updateNumber(dateId, slotId, number);
                                    $(button).removeClass("btn-danger");
                                    $(button).addClass("btn-success");
                                    $(".number-" + dateId + "-" + slotId).removeClass('d-none');
                                    $(button).parent().parent().find("button.number-closed").addClass("d-none");
                                } else {
                                    $(button).removeClass("btn-success");
                                    $(button).addClass("btn-danger");
                                    $(".number-" + dateId + "-" + slotId).addClass('d-none');

                                    if($(button).parent().parent().find("div.d-none").length == $(button).parent().parent().find("div.number").length) {
                                        $(button).parent().parent().find("button.number-closed").removeClass("d-none");
                                    }
                                }
                            });
                        }

                        function updateButtons() {
                            $('button.slot').each(function() {
                                var dateId = $(this).attr("data-dateId");
                                var slotId = $(this).attr("data-slotId");
                                var that = this;

                                $.post('/agenda/enabled', {
                                    slotId: slotId,
                                    dateId: dateId
                                }, function(enabled) {
                                    $(that).removeClass("btn-secondary");

                                    if(enabled) {
                                        $(that).removeClass("btn-danger");
                                        $(that).addClass("btn-success");
                                        $(".number-" + dateId + slotId).removeClass('d-none')
                                    } else {
                                        $(that).removeClass("btn-success");
                                        $(that).addClass("btn-danger");
                                        $(".number-" + dateId + slotId).addClass('d-none')
                                    }
                                });
                            });
                        }

                        function updateNumbers() {
                            $('input.number').each(function() {
                                var dateId = $(this).attr("data-dateId");
                                var slotId = $(this).attr("data-slotId");
                                var that = this;

                                updateNumber(dateId, slotId, that);
                            });
                        }

                        function updateNumber(dateId, slotId, that) {
                            $.post('/agenda/number', {
                                slotId: slotId,
                                dateId: dateId
                            }, function(number) {
                                if(number) {
                                    $(".number-" + dateId + "-" + slotId).removeClass('d-none');
                                    $(that).val(number);
                                    $(that).parent().siblings("button.number-closed").addClass("d-none");
                                } else {
                                    $(".number-" + dateId + "-" + slotId).addClass('d-none');
                                    if($(that).parent().parent().find("div.d-none").length == $(that).parent().parent().find("div.number").length) {
                                        $(that).parent().siblings("button.number-closed").removeClass("d-none");
                                    }
                                }

                            });
                        }
                    });
                    </script>

                    <%- include ../footer.ejs %>
