<%- include ../header.ejs %>

<% var categoryId = category ? category.id : 0 %>

<h2><%= __("agenda.agenda") %> - <%= category ? category.name : __("category.default") %></h2>
<br>
<p class="text-right">
    <% var dateId = (firstDate.getMonth()+1).toString().padStart(2, '0') + firstDate.getFullYear() %>
    <button id="default" class="btn btn-primary" data-dateId="<%= dateId %>"><%= __("agenda.setdefault") %></button>
</p>
<br>
<div class="row">
    <div class="col-md-1">
        <%
        var previousMonth = new Date(firstDate);
        previousMonth.setMonth(previousMonth.getMonth()-1);
        %>
        <a href="/agenda/<%= categoryId %>/<%= (previousMonth.getMonth() + 1).toString().padStart(2, '0') + previousMonth.getFullYear() %>" role="button"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
    </div>
    <div class="col-md-10">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col"><%= __("agenda.date") %></th>
                    <th scope="col" class="text-center"><button class="btn btn-primary btn-sm button-mode"><b><%= __("agenda.slot") %></b></button></th>
                </tr>
            </thead>
            <tbody>
                <% for(var d=firstDate; d<=lastDate; d.setDate(d.getDate() + 1)) { %>
                    <% var dateId = d.getFullYear() + '-' + (d.getMonth()+1).toString().padStart(2, '0') + '-' + d.getDate().toString().padStart(2, '0') %>
                    <tr class="agenda">
                    <th scope="row" class="date">
                    <%= d.getDate().toString().padStart(2, '0') + '/' + (d.getMonth()+1).toString().padStart(2, '0') + '/' + d.getFullYear() %>
                    </th>
                    <td class="type text-center">
                    <% if(typeof slots[d.getDay()] !== 'undefined') { %>
                        <div class="btn-group slots" role="group">
                            <% for(var slot of slots[d.getDay()]) { %>
                                <button type="button" class="btn btn-secondary btn-sm slot" data-dateId="<%= dateId %>" data-slotId="<%= slot.id %>"><%= slot.name %></button>
                            <% } %>
                        </div>
                        <form class="numbers d-none form-inline justify-content-center">
                            <% var index=0; for(var slot of slots[d.getDay()]) { %>
                                    <label class="my-1 mr-2 <%= index > 0 ? "pl-3" : "" %> form-<%= dateId + slot.id %>"><%= slot.name %></label>
                                    <input type="number" min="1" class="number form-control form-control-sm form-<%= dateId + slot.id %>" data-dateId="<%= dateId %>" data-slotId="<%= slot.id %>" style="width: 64px;">
                            <% index++ } %>
                        </form>
                                <% } else { %>
                                    <button type="button" class="btn btn-secondary btn-sm disabled"><%= __("time.closed") %></button>
                                    <% } %>
                                    </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-1">
                            <%
                            var nextMonth = new Date(firstDate);
                            nextMonth.setMonth(nextMonth.getMonth()+1);
                            %>
                            <a href="/agenda/<%= categoryId %>/<%= nextMonth.getMonth().toString().padStart(2, '0') + nextMonth.getFullYear() %>" role="button"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
                        </div>
                    </div>

                    <script>
                    $(document).ready(function() {
                        updateButtons();
                        updateForms();

                        $("button.button-mode").click(function() {
                            if($("form.numbers").hasClass("d-none")) {
                                $("div.slots").addClass("d-none");
                                $("form.numbers").removeClass("d-none");
                                $(this).html("<%= __("agenda.number") %>");
                            } else {
                                $("form.numbers").addClass("d-none");
                                $("div.slots").removeClass("d-none");
                                $(this).html("<%= __("agenda.slot") %>");
                            }
                        });



                        $('button#default').click(function() {
                            var dateId = $(this).attr("data-dateId");
                            $.get('/agenda/<%= categoryId %>/' + dateId + '/default',
                            function(status) {
                                console.log(status);
                                updateButtons();
                            });
                        });

                        $('button.slot').click(function() {
                            var enable = !$(this).hasClass("btn-success");
                            var dateId = $(this).attr("data-dateId");
                            var slotId = $(this).attr("data-slotId");
                            var that = this;

                            $(this).addClass("disabled");

                            if(enable) {
                                $(this).removeClass("btn-danger");
                                $(this).addClass("btn-success")
                            } else {
                                $(this).removeClass("btn-success");
                                $(this).addClass("btn-danger")
                            }

                            $.post('/agenda/set', {
                                enable: enable,
                                slotId: slotId,
                                dateId: dateId
                            },
                            function(enabled) {
                                $(that).removeClass("disabled");

                                if(enabled) {
                                    $(this).removeClass("btn-danger");
                                    $(this).addClass("btn-success")
                                } else {
                                    $(this).removeClass("btn-success");
                                    $(this).addClass("btn-danger")
                                }
                            });
                        });

                        function updateButtons() {
                            $('button.slot').each(function() {
                                var dateId = $(this).attr("data-dateId");
                                var slotId = $(this).attr("data-slotId");
                                var that = this;

                                $.post('/agenda/enabled', {
                                    slotId: slotId,
                                    dateId: dateId
                                }, function(enabled) {
                                    $(that).removeClass("btn-secondary");

                                    if(enabled) {
                                        $(that).removeClass("btn-danger");
                                        $(that).addClass("btn-success");
                                        $(".form-" + dateId + slotId).removeClass('d-none')
                                    } else {
                                        $(that).removeClass("btn-success");
                                        $(that).addClass("btn-danger");
                                        $(".form-" + dateId + slotId).addClass('d-none')
                                    }
                                });
                            });
                        }

                        function updateForms() {
                            $('input.number').each(function() {
                                var dateId = $(this).attr("data-dateId");
                                var slotId = $(this).attr("data-slotId");
                                var that = this;
                                console.log("dateId = " + dateId + " - slotId = " + slotId);
                                $.post('/agenda/number', {
                                    slotId: slotId,
                                    dateId: dateId
                                }, function(value) {
                                    console.log(value);
                                    $(that).val(value);
                                });
                            });
                        }
                    });
                    </script>

                    <%- include ../footer.ejs %>
