<%- include ../header.ejs %>

<h2><%= __("slottype.add") %></h2>
<br>
<form action="/company/slot/add" method="post">
    <div class="form-group row">
        <label class="col-sm-2" for="name"><%= __("slottype.name") %></label>
        <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="name" placeholder="<%= __("slottype.name") %>">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2" for="begin"><%= __("slottype.begin") %></label>
        <div class="col-sm-10">
            <input type="time" name="begin" class="form-control" id="begin" placeholder="<%= __("slottype.begin") %>">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2" for="end"><%= __("slottype.end") %></label>
        <div class="col-sm-10">
            <input type="time" name="end" class="form-control" id="end" placeholder="<%= __("slottype.end") %>">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2"><%= __("slottype.days") %></label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input type="checkbox" id="monday" value="1" name="days[]" class="form-check-input" checked>
                <label class="form-check-label" for="monday"><%= __("time.monday") %></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="tuesday" value="2" name="days[]" class="form-check-input" checked>
                <label class="form-check-label" for="tuesday"><%= __("time.tuesday") %></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="wednesday" value="3" name="days[]" class="form-check-input" checked>
                <label class="form-check-label" for="wednesday"><%= __("time.wednesday") %></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="thursday" value="4" name="days[]" class="form-check-input" checked>
                <label class="form-check-label" for="thursday"><%= __("time.thursday") %></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="friday" value="5" name="days[]" class="form-check-input" checked checked>
                <label class="form-check-label" for="friday"><%= __("time.friday") %></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="saturday" value="6" name="days[]" class="form-check-input" checked>
                <label class="form-check-label" for="saturday"><%= __("time.saturday") %></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="sunday" value="0" name="days[]" class="form-check-input" checked>
                <label class="form-check-label" for="sunday"><%= __("time.sunday") %></label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2" for="order"><%= __("slottype.order") %></label>
        <div class="col-sm-10">
            <input type="number" name="order" class="form-control" min="1" value="1" id="order" placeholder="<%= __("slottype.order") %>">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2" for="categories"><%= __n("category.category", 2) %></label>
        <div class="col-sm-10">
            <select class="custom-select" multiple name="categories[]" id="categories">
                <%
                for(var i in categories) {
                    var category = categories[i];
                    %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <br>
        <div class="text-right">
            <button type="submit" class="btn btn-primary text-right"><%= __("global.save") %></button>
        </div>
    </form>

    <%- include ../footer.ejs %>
