<%- include ../header.ejs %>

<h2><%= __('slottype.list') %></h2>
<br>
<p>
    <a class="btn btn-primary" href="/company/slot/add"><%= __('global.add') %></a>
</p>
<br>
<%
for(var categoryId in slotTypes) {
    var categorySlotTypes = slotTypes[categoryId];
    %>
    <h4><%= categoryId !== 'default' ? categories[categoryId].name : __("slottype.defaultcategory") %></h4>
    <table class="table">
    <thead>
    <tr>
    <th scope="col"><%= __('slottype.name') %></th>
    <th scope="col"><%= __('slottype.begin') %></th>
    <th scope="col"><%= __('slottype.end') %></th>
    <th scope="col"><%= __('slottype.days') %></th>
    <th scope="col"><%= __('slottype.order') %></th>
    <th scope="col"><%= __n('global.action', 2) %></th>
    </tr>
    </thead>
    <tbody>
    <%
    for(var i in categorySlotTypes) {
        var slotType = categorySlotTypes[i];
        %>
        <tr>
        <td><%= slotType.name %></td>
        <td><%= slotType.begin ? slotType.begin.replace(/:\d+$/, '') : '-' %></td>
        <td><%= slotType.end ? slotType.end.replace(/:\d+$/, '') : '-' %></td>
        <td>
            <%
            for(var j in slotType.days) {
                %>
                <%= __("time.day" + slotType.days[j]) %>
            <% } %>
        </td>
        <td><%= slotType.order %></td>
        <td>
        <a href="/company/slot/<%= slotType.id %>/update" title="<%= __('global.edit') %>"><i class="fas fa-pencil-alt"></i></a>&nbsp;
        <a href="/company/slot/<%= slotType.id %>/delete" title="<%= __('global.delete') %>"><i class="fas fa-trash-alt"></i></a>&nbsp;
        </td>
        </tr>
        <% } %>
        </tbody>
        </table>
        <% } %>

        <%- include ../footer.ejs %>
